/* You can add global styles to this file, and also import other style files */
.styles.scss {
  //border:1px red solid !important;
}
div {
 // border:1px red solid ;
}
BODY {
  font-size: 12px;
 
  margin: 0;
  color:#dddddd;
  font-family: Arial, Helvetica, sans-serif;
  a {
    color:rgb(194, 194, 1);
    &:hover{
      color:rgb(255, 255, 5);
    }
  }
}
