// got explainatio from: https://medium.com/@ismapro/first-steps-with-angular-cli-and-angular-material-5a90406e9a4

//https://www.youtube.com/watch?v=HfhkaLdF9mc
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}


.app-container {
  border:1px red solid;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;

  header, footer {
    height:50px;
    border:1px green solid;
    flex-grow: 0px;
    background-color:blue;
  }

  .main-container{
    height:50px;
    border:1px green solid;
    flex-grow: 0px;
    background-color:rgb(58, 58, 58);
  }
  app-home {
    height:100%;
  }
}

